.Clase1{
	width: 1000px;
	height: 50px;
	background-color: yellow;
	padding: 15px;
	font-size: 25px;
	margin: 6px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border: 5px solid blue;


}

#hola{
	text-align: center;
	color: #09AB59;
	font-family: Verdana;

}